#g1{
    height: 400px;
    width: 400px;
    /* background-color: blue; */
    margin: 100px auto;
    position: relative;
   animation-name: abc;
   animation-duration: 1s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;  
   /* border: 5px solid green; */
}
@keyframes abc{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(299deg);
    }
}

#r1{
    background-color: blue;
    height: 200px;
    width: 200px;
    position:absolute;
    top:0px;
    left:0px;
    border-radius: 0px 200px 0px 200px;
}

#r2{
    background-color: yellow;
    height: 200px;
    width:200px;
    position:absolute;
    top:0px;
    right:0px;
    border-radius: 200px 0px 200px 0px;
}

#r3{
    background-color: red;
    height: 200px;
    width:200px;
    position:absolute;
    bottom:0px;
    left:0px;
    border-radius: 200px 0px 200px 0px ;
}

#r4{
    background-color: green;
    height: 200px;
    width: 200px;
    position:absolute;
    bottom:0px;
    right:0px;
    border-radius: 0px 200px 0px 200px;
}






 */
