p::first-letter{
    color: brown;
    background-color: blanchedalmond;
    font-size: 50px;
}
p::first-line{
    color:blue;
    background-color: yellow;
    

}
p::before{

    content: "good morning";
    color:blueviolet;
    background-color: chartreuse;
}
p::after{
    content:"thank you";
    color: red;
    background-color: green;
    
}
p::selection{
    color: aqua;
    background-color: chartreuse;
    user-select: none;    
}
li::marker{
    /* only for list -> li::marker */
    color: cyan;
    font-size: 50px;
}
p::